<div id="mainBox">
    <div class="subBox">
        <div class="subBoxBorder">
            <div class="boxChart" id="areachart"></div>
            <script>
            areachart('<%= @symbol.upcase() %>', <%= @closes %> )
            </script>
        </div>

    </div>
    <div class="subBox">
        <div class="subBoxBorder">
            <div class="boxChart" id="columchart"></div>
            <script>
            columchart('<%= @symbol.upcase() %>', <%= @volumes %>)
            </script>
        </div>
    </div>
    <div class="subBox">
        <div class="subBoxBorder">
            <div class="boxChart" id="candlestick"></div>
            <script>
            candlestick('<%= @symbol.upcase() %>', <%= @data %>)
            </script>
        </div>
    </div>
    <div class="subBox">
        <div class="subBoxBorder">
            <div class="rss_box" data-url="http://feeds.finance.yahoo.com/rss/2.0/headline?s=<%= @symbol.upcase() %>&region=US&lang=en-US">
            </div>
        </div>
    </div>
</div>

